.classpath
.DS_Store
.env
.idea
.idea_modules/
.idea/
.preferences
.project
.settings
.tox/
*.class
*.egg
*.egg-info
*.iml
*.ipr
*.iws
*.pyc
*.received.*
*.sqlite3
~*
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
out/
slides/video1357682794.mp4
staticfiles
target